:root {
    --altoNavFoter: clamp(6rem, 9vh,6rem);
}

* {box-sizing: border-box;}
body {
    font-family: Arial, sans-serif;
    background: #f4f6f9;
    margin: 0;
}
h1, h3, p {margin: 0;}

nav, header, footer {
    color: white;
    height: var(--altoNavFoter);
    background-color: #4e9645;
    padding: .5rem;
    text-align: center;
}

main {
    min-height: calc(100vh - var(--altoNavFoter)*2);
    padding: 1rem clamp(1rem, 13vw,200px);
}
pre {
    border: 1px solid black;
    background: #91919133;
    padding: 5px;
    border-radius: 5px;
}

footer {
    line-height: calc(var(--altoNavFoter)/1.5);
    a {
        text-decoration: aquamarine wavy underline;
        color: aquamarine;
        transition: 0.3s;
    }
    a:hover {
        color: blue;
        mix-blend-mode: multiply;
        text-decoration: none;
    }
}